{% extends "timetable_base.html" %}
{% load i18n %}

{% block title %}
{% trans "Timetable" %} - {% trans "Class" %} {{ class.name }} - Zorza
{% endblock %}

{% block caption %}
{% trans "Class" %} {{ class.name }}
{% endblock %}

{% block lesson %}
<div class="lesson-onerow">
	{% if lesson.cancelled %}
	<del>
		<a href="{% url "teacher_timetable" lesson.teacher_id %}" title="{{ lesson.teacher.full_name }}">
			{{ lesson.teacher.initials }}
		</a>
		<span class="subject" title="{{ lesson.subject.name }}">
			{{ lesson.subject.short_name }}
		</span>
		<a class="room" href="{% url "room_timetable" lesson.room_id %}" title="{{ lesson.room.name }}">
			{{ lesson.room.short_name }}
		</a>
	</del>
	{% elif lesson.substitute and settings.show_substitutions %}
	<a href="{% url "teacher_timetable" lesson.teacher_id %}" title="{{ lesson.teacher.full_name }}">
		<del>{{ lesson.teacher.initials }}</del>
	</a>
	<a href="{% url "teacher_timetable" lesson.substitute.id %}" title="{{ lesson.substitute.full_name }}">
		{{ lesson.substitute.initials }}
	</a>
	<span class="subject" title="{{ lesson.subject.name }}">
		{{ lesson.subject.short_name }}
	</span>
	<a class="room" href="{% url "room_timetable" lesson.room_id %}" title="{{ lesson.room.name }}">
		{{ lesson.room.short_name }}
	</a>
	{% else %}
	<a href="{% url "teacher_timetable" lesson.teacher_id %}" title="{{ lesson.teacher.full_name }}">
		{{ lesson.teacher.initials }}
	</a>
	<span class="subject" title="{{ lesson.subject.name }}">
		{{ lesson.subject.short_name }}
	</span>
	<a class="room" href="{% url "room_timetable" lesson.room_id %}" title="{{ lesson.room.name }}">
		{{ lesson.room.short_name }}
	</a>
	{% endif %}
</div>
{% endblock %}

{% block custom %}
<h3 class="text-center">
	<a href="{% url "personalize" class.id %}">
		{% trans "Select groups to show" %}
	</a>
</h3>
{% endblock %}

